<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" type="text/css" href="../static/plantillaTablas.css"/>
    <meta charset="UTF-8">
    <title>Libros</title>
	
</head>
<body>
    <div>
        <h3>Prestamo de Libros</h3>
		
		<TABLE BORDER>
	
			<TR>
                <th>id</th><TH>Libro</TH> <TH>Autor</TH> <TH>Tema</TH>
			</TR>
			{% for prest in prests %}
                <tr>
                    <td>{{ prest.0 }}</td>
                    <td>{{ prest.1 }}</td>
                    <td>{{ prest.2 }}</td>
                    <td>{{ prest.3 }}</td>
                </tr>
            {% endfor %}
			
		</TABLE>
		
	    <form method="POST">
            <label>Ingrese el id de libro a devolver</label><br>
            <input type="text" name="id" id="id">
            <input type="submit" value="devolver">
        </form>
		

    </div>

</body>
</html>